.container {
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.table-container {
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    width: 100%;
    border: 1px solid #ddd;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd; /* Bordes de las celdas */
}

.styled-table thead th {
    position: sticky;
    top: 0;
    background-color: #0ea3e9;
    color: white;
    padding: 12px 15px;
    border: 1px solid #ddd;
    z-index: 1; /* Asegura que el thead esté encima del contenido del tbody */
}

.styled-table tr:nth-child(even) {
    background-color: #0ea3e9; /* Color de filas pares */
}

.styled-table tr:hover {
    background-color: #ddd; /* Color de fondo al pasar el ratón */
}

/* Estilo para el contenedor de registros con desplazamiento */
.scroll-container {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #1156e068;
    padding: 10px;
    margin-top: 20px;
}

.scroll-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.record {
    padding: 10px;
    border-bottom: 1px solid #1156e068;
}

.record p {
    margin: 5px 0;
}
