body {
    margin: 0; /* Elimina el margen predeterminado */
    height: 100vh;
   
}

.container {
    position: relative; /* Necesario para la posición del logo */
    width: 100%; /* Cambiado a 100% para que ocupe todo el ancho de la página */
    max-width: 1200px; /* Establece un ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el contenedor en la página */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo del cuadro */
    border-radius: 10px; /* Esquinas redondeadas */
    overflow: hidden; /* Evita que los elementos se salgan del cuadro */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra para profundidad */
    padding: 20px; /* Añade espacio interno para que no se vea tan apretado */
}

.promo-image {
    width: 80%; /* Ocupa todo el ancho del cuadro */
    height: auto; /* Mantiene la proporción */
}

.form-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el formulario */
    padding: 20px; /* Espacio alrededor del formulario */
}

.logo {
    position: absolute; /* Permite posicionarlo en la esquina inferior derecha */
    max-width: 80px; /* Ajusta el tamaño del logo */
    bottom: 10px; /* Espacio desde la parte inferior */
    right: 10px; /* Espacio desde la derecha */
    height: auto; /* Mantiene la proporción */
}
