.container2 {
    
    display: flex; /* Usa flexbox para alinear elementos */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    position: relative; /* Necesario para el fondo */
}

.container {
    
    display: flex;
    justify-content: center;
    background-color: #e9b60e;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra para profundidad */
    
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
}

.styled-table thead th {
    position: sticky;
    top: 0;
    background-color: #e9b60e;
    color: white;
    padding: 12px 15px;
    border: 1px solid #e9b60e;
    z-index: 1;
}

.styled-table th,
.styled-table td {
    background-color: #e9b60e;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #e9b60e;
}

.styled-table tbody tr:hover {
    background-color: #ddd;
}

/* Contenedor desplazable para la tabla */
.table-container {
    max-height: 300px; /* Ajusta la altura según necesites */
    overflow-y: auto;
    width: 100%;
    border: 1px solid #ddd;
}

/* Estilos adicionales para el formulario */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #c42115;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkblue;
}

.fondo {
    position: absolute; /* Permite que ocupe toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegúrate de que cubra todo el espacio */
    z-index: -1; /* Coloca la imagen de fondo detrás de otros elementos */
}

.promo-image {
    width: 100%; /* Ocupa todo el ancho del cuadro */
    height: auto; /* Mantiene la proporción */
}

.back-button {
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Transición para el color de fondo */
}

.back-link {
    display: inline-block;
    padding: 10px 25px;
    background-color: #c42115; /* Cambia esto al color que prefieras */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-link:hover {
    background-color: #0056b3; /* Cambia esto al color que prefieras para el hover */
}

